extends layout

block content
  div.row
    div.col-sm-12.col-md-6.col-md-offset-3
      div(ng-controller="SearchController")
        h1.text-center Itinerary application
        div.row
          form(class="form-search", role="form", ng-submit="search()")
            div.col-xs-9
              input(type="text", class="form-control input-lg col-sm-10", name="searchText", ng-model="searchText", placeholder="Search for a place",
                required, autofocus)
            button(class="btn btn-primary btn-lg", type="submit") Search!
        div.row
          div.col-xs-9
            div(class="list-group searchResults", name="searchResults", ng-model="searchResults", ng-show="visible")
              a(href="", class="list-group-item text-center", ng-repeat="result in searchResults", ng-click="selectRow($index)")
                | {{ result.Location.Address.Label }}        
  div.row
    div.col-sm-6.col-md-6
      div(ng-controller="ListController")
        h1.text-center Itinerary list
        button(ng-click="moveRowUp()", ng-show="itinerary.length > 1") up
        button(ng-click="moveRowDown()", ng-show="itinerary.length > 1") down
        button(ng-click="removeRow()", ng-show="itinerary.length") remove
        div(ng-model="itinerary", name="itinerary", class="list-group")
          a(href="", class="list-group-item text-center", ng-repeat="route in itinerary", ng-click="selectRow($index)",
            ng-class="{'list-group-item-info': $index === indexOfSelectedRow}")
              | {{ route }}
    div.col-sm-6.col-md-6
      h1.text-center Itinerary in map
      div(id="map", ng-controller="MapController", style="height: 500px")