doctype html
html(ng-app="map-app")
  head
    title Itinerary application
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="container-fluid")
      block content
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-resource.js")
    script(src="javascripts/app.js")
    script(src="javascripts/services/searchService.js")
    script(src="javascripts/controllers/searchController.js")