doctype html
html(ng-app="map-app")
  head
    title Itinerary application
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
    link(rel="stylesheet", href='/stylesheets/style.css')
    link(rel="stylesheet", href="//js.api.here.com/v3/3.0/mapsjs-ui.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
  body
    div(class="container-fluid")
      block content
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-resource.js")
    
    script(src="//js.api.here.com/v3/3.0/mapsjs-core.js")
    script(src="//js.api.here.com/v3/3.0/mapsjs-service.js")
    script(src="//js.api.here.com/v3/3.0/mapsjs-ui.js")
    script(src="//js.api.here.com/v3/3.0/mapsjs-mapevents.js")
    
    script(src="javascripts/app.js")
    script(src="javascripts/services/alertService.js")  
    script(src="javascripts/services/mapService.js")
    script(src="javascripts/services/itineraryService.js")
    script(src="javascripts/services/REST/routeService.js")
    script(src="javascripts/services/REST/searchService.js")
    script(src="javascripts/controllers/searchController.js")
    script(src="javascripts/controllers/listController.js")
    script(src="javascripts/controllers/mapController.js")
    script(src="javascripts/handlers/exceptionHandler.js")    